.cabecalho {
    /*    TOPO DA PÁG*/
    background: white;
    height: 80px;

}
.body{
    /*FUNDO DO TOPO*/
    background-color: white;
}
.logo{
    /*ELEMENTE IMBUTIDO*/
    display: inline;
    height: 80px;
    /*PREENCHIMENTO*/
    padding:15px;
}
.logo img{
    height:75%;
}
